@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
}
.inter-font-style {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.bg-color-header {
  background-color: rgba(17, 17, 17, 1);
  background-image: linear-gradient(
    rgba(110, 110, 110, 0.397),
    rgba(0, 0, 0, 0.479)
  );
}
.hcolor {
  color: #e6533c;
  font-size: 2.3rem;
  font-weight: 800;
}
.navitem {
  color: #ffffff;
  font-size: 1 rem;
  font-weight: 300;
  list-style: none;
  text-decoration: none;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 40px;
}
.displayflex {
  display: flex;
}

.navbar {
  gap: 47px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
.items {
  box-sizing: border-box;
}
.navbar li {
  padding: 12.5px 0px;
  border-radius: 20px;
}
.items li a {
  color: #ffffff;
  font-size: 1 rem;
  font-weight: 300;
  text-decoration: none;
  padding: 8px 20px;
}
.navbar li:first-child {
  background-color: rgb(230, 83, 60);
}
.items li a:hover {
  background-color: #e6533c;
  /* box-shadow: 5px 10px 30px rgb(85 85 85/15%); */
  border-radius: 20px;
}
#home {
  font-weight: 600;
}

/* header section */
.txt-color {
  color: white;
}
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  gap: 168px;
}
.fitness {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 900;
}
.bannerspan {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 78px;
}

.bannerwrite {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}
.bannercontent1 button {
  margin-top: 28px;
  width: 224px;
  height: 54px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 42px;
}
.bg-button {
  background-color: #e6533c;
  border: 2px solid #e6533c;
}
.bg-button2 {
  border: 2px solid white;
  background-color: transparent;
}
.bannerbtn {
  margin-left: 14px;
}
.bannercontent2 img {
  height: 580px;
  width: 350px;
  margin-top: 32px;
}
.card1 {
  background-color: rgba(48, 48, 48, 0.54);
  width: 200px;
  height: 100px;
  border-radius: 12px;
  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 75%;
  left: 55%;
}
.circle {
  background-color: #e6533c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.num {
  font-weight: 900;
  font-size: 1.3rem;
}
.num2 {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
  margin-top: 8px;
}
.card2 {
  background-color: rgba(255, 255, 255, 0.1);
  width: 200px;
  height: 100px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 34%;
  left: 78%;
}
.ctxt1 {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
}
.ctxt2 {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 20px;
}
.card2items {
  padding: 17px 24px;
}
.rules {
  max-width: 1044px;

  margin: 0 auto;
}
.bg-main {
  background-color: black;
}
.habits {
  text-align: center;

  padding: 5px;
}
.habitstxt {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 100px;
}
.habitstxt2 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-top: 14px;
}
.fitnessimage {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-items: center;
}
.fitnessimage div {
  text-align: center;
}
.fitnessimage div img {
  width: 180px;
  height: 180px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.Movementtxt {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.Movementtxt2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 300;
  margin-top: 6px;
}

/* Run an extra mile */
.flexcontainer {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  border-radius: 28px;
  margin-top: 100px;
}
.flextxt1 {
  color: white;
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
}
.flextxt2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 300;
}
.flexitems {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.imagecontainer {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  overflow: hidden;
}
.imagecontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(2.5) translate(-61px, 12%);
}
.flexitems button {
  width: 224px;
  height: 55px;
  background-color: #e6533c;
  border-radius: 42px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-style: none;
}

/* Tranings and exercises */

.gridspan {
  margin-top: 100px;
}
.gridcontents {
  max-width: 676px;
}

.gspan1 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 300;
  margin-top: 14px;
}
.gspancontainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gridimages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 220px;
  overflow: hidden;
  margin-top: 58px;
}
.gspancontainer {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  /* transition: all 0.35s; */
}
.gspancontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gspancontainer:nth-child(1) {
  grid-column: span 1;
}
.gspancontainer:nth-child(2) {
  grid-column: span 2;
}
.gspancontainer:nth-child(3) {
  grid-column: span 1;
}
.gspancontainer:nth-child(4) {
  grid-column: span 2;
}
.gspancontainer:nth-child(5) {
  grid-column: span 1;
}
.gspancontainer:nth-child(6) {
  grid-column: span 1;
}

.gspancontainer:nth-child(1)::before {
  background-color: rgb(6, 255, 210, 0.5);
}
